@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "UBUNTU-REGULAR";
  src: url("../public/fonts/Ubuntu-Regular.ttf");
  
  font-family: "UBUNTU-MEDIUM";
  src: url("../public/fonts/Ubuntu-Medium.ttf");

  font-family: "UBUNTU-BOLD";
  src: url("../public/fonts/Ubuntu-Bold.ttf");
}
